[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
yaxil = "*"
requests-cache = "*"
realta = {path = ".", editable = true}
pynetdicom = "*"
pydicom = "*"

[dev-packages]

[requires]
python_version = "3"
